.termainl-alignment-center {
  text-align: center;
  justify-content: center;
}

.terminal-alignment-left {
  text-align: left;
  justify-content: left;
}

.terminal-alignment-right {
  text-align: right;
  justify-content: right;
}

@media (max-width: 869px) {
  .terminal-alignment-center-mobile {
    text-align: center;
    justify-content: center;
  }
  
  .terminal-alignment-left-mobile {
    text-align: left;
    justify-content: left;
  }
  
  .terminal-alignment-right-mobile {
    text-align: right;
    justify-content: right;
  }
}