.terminal-byline {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	box-sizing: border-box;
	justify-content: space-between;
	margin: 15px -30px;
	padding: 15px 30px;

	div {
		margin-right: 15px;
		display: flex;
		flex: 1 1;
	}
	a:hover {
		text-decoration: underline;
	}
	
	.avatar {
		height: auto;
		width: 100%;
	}

	.terminal-author-and-date {
		display: flex;
		align-items: center;
		flex-grow: 1;
		justify-content: space-around;

		div {
			margin-left: 10px;
		}
	}
}

