#facebook-comments-header {
	svg {
		fill: white;
		width: 1rem !important;
		height: 1rem !important;
		margin-right: 0.8rem;
		position: relative !important;
		margin-top: .2rem;
		transition: transform .15s ease-out;
		transform: rotate(180deg);
		&.open {
			transform: rotate(0deg);
		}
	}
}

#facebook-comments.hidden {
	display: none;
}

.terminal-comments > div, #facebook-comments {
	padding: 0 30px 0 30px;
	width: calc(100% - 60px) !important;
}