#container {
	display: flex;
	margin: 7px 10px;
	max-width: 100%;
	min-height: 100vh;
	flex-direction: column;
}

#body {
	display: flex;
	flex: 1;
	justify-content: center;
	flex-wrap: wrap;
}

.index-navigation {
	display: flex;
	flex: 1;
	justify-content: center;
}

.index-navigation-links {
	justify-content: center;
	flex-grow: 1;
	display: flex;
	max-width: 1200px;
}

#content {
	max-width: 900px;
	flex-grow: 1;
	flex-basis: 500px;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
