body {
	background-color: #fff;
}

#container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	max-width: 1100px;
	margin: auto;
	padding: 10px 0;

	&.hidden {
		display: none;
	}
}

#body {
	display: flex;
	flex-wrap: wrap;
}

.infinite-scroll {
	.index-navigation {
		display: none;
	}
}
.index-navigation {
	display: flex;
	flex: 1;
	justify-content: center;
}

.index-navigation-links {
	justify-content: center;
	flex-grow: 1;
	display: flex;
	max-width: 1100px;
}

.content {
	max-width: 775px;
	flex-grow: 1;
	width: 100%;
	flex-basis: 700px;
	order: 1;
	margin: 0 auto;

	.dfp-ad {
		text-align: center;
	}
}

#stories {
	max-width: 100vw;
	display: block;
	box-sizing: border-box;
	.author-and-date {
		justify-content: space-between;
	}
	.dfp-ad {
		margin-bottom: 10px;
	}
}

#recirc {
	margin-top: 10px;
}

.loop-header {
	max-width: 100vw;
	display: block;
	padding: 15px 30px;
	margin: 10px;
}

#author {
	display: flex;
	box-sizing: border-box;
	padding: 30px;
	align-items: center;
	
	@media (max-width: 400px) {
		flex-direction: column;
		.bio {
			padding: 30px 0 0 0 !important;
		}
	}

	.bio {
		padding: 30px 0 30px 30px;
		flex: 0 0 60%;
		box-sizing: border-box;

		h4 {
			margin: 0 0 10px 0;
		}
	}
	.image {
		flex: 0 0 40%;
		box-sizing: border-box;

		img {
			display: flex;
			width: 100%;
			height: auto;
		}
	}
}

#facebook-comments {
	padding: 30px 30px 0 30px;
	width: calc(100% - 60px) !important;
}