body {
	background-color: #fff;
}

a {
	text-decoration: none;
	color: #0f65ef;

	&:hover {
    color: #093c8f;
    text-decoration: none;
    transition: color .15s ease 0s;
	}
}

a.terminal-link-gray, .terminal-link-gray a {
	text-decoration: none;
	color: #222;

	&:hover {
    color: #0f65ef;
    text-decoration: none;
    transition: color .15s ease 0s;
	}
}

a.terminal-link-gray-light, .terminal-link-gray-light a {
	text-decoration: none;
	color: #666;

	&:hover {
    color: #093c8f;
    text-decoration: none;
    transition: color .15s ease 0s;
	}
}

.terminal-text-gray-light {
	color: #999;
}
.terminal-text-gray {
	color: #666;
}

svg.terminal-svg {
	width: 1rem !important;
	height: 1rem !important;
	position: relative !important;
	transition: transform .05s ease-out;
}

.terminal-container {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	margin: 10px auto;
	flex-wrap: wrap;
	width: 100%;
	max-width: $max_container_width;
}
.terminal-content {
	flex-basis: 75%;
}

.terminal-author-snippet, .terminal-author {
	display: flex;
	max-width: $max_content_width;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin: 0 auto 15px auto;
	.terminal-card-text {
		max-width: 50%;
		h2, p {
			width: 100%;
		}
		margin: 0 0 10px 0;
		@media (max-width: 560px) {
			max-width: 75%;
		}
	}
	img {
		max-width: 25%;
		margin: 0 auto 10px auto;
	}
	.terminal-card-text, img {
    display: flex;
    flex: 0 1 50%;
    flex-wrap: wrap;
		width: 100%;
    height: auto;

	}
}
.terminal-author {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}
.terminal-comments-container, .terminal-breakout-container {
	width: 100%;
}

.terminal-header, h1.terminal-header, h2.terminal-header, h3.terminal-header, h4.terminal-header, h5.terminal-header, h6.terminal-header {
	padding: 10px 30px;
	margin: 0 0 10px 0;
	width: 100%;
	text-align: center;
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}

	&.terminal-header-no-background {
		background-color: unset;
		margin: 0;
	}
}

body.home {
	.terminal-footer-leaderboard {
		background-color: inherit;
		margin: 0;
	}
	.terminal-nav-bar-inside-more {
		padding-bottom: 1px;
	}
}