body {
	background-color: #fff;
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: #0f65ef;

	&:hover {
		color: #093c8f;
		text-decoration: none;
		transition: color .15s ease 0s;
	}
}

a.terminal-link-gray, .terminal-link-gray a {
	text-decoration: none;
	color: #222;

	&:hover {
		color: #0f65ef;
		text-decoration: none;
		transition: color .15s ease 0s;
	}
}

a.terminal-link-gray-light, .terminal-link-gray-light a {
	text-decoration: none;
	color: #666;

	&:hover {
		color: #093c8f;
		text-decoration: none;
		transition: color .15s ease 0s;
	}
}

.terminal-text-gray-light {
	color: #999;
}
.terminal-text-gray {
	color: #666;
}

svg.terminal-svg {
	width: 20px !important;
	height: 20px !important;
	position: relative !important;
	transition: transform .05s ease-out;
}

#terminal-search {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto 30px auto;
	max-width: $max_container_width;
	width: 100%;
}

.terminal-container {
	display: flex;
	justify-content: center;
	margin: 10px auto;
	flex-wrap: wrap;
	width: 100%;
	max-width: $max_container_width;
}

.terminal-content-container, .terminal-popular-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	flex-wrap: wrap;
	width: 100%;
}

.terminal-content {
	flex-basis: 75%;
}

.terminal-author-snippet {
	display: flex;
	max-width: $max_content_width;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin: 0 auto 1em auto;
	.terminal-card-text {
		max-width: 50%;
		margin: 0 0 10px 0;
		@media (max-width: 560px) {
			max-width: 75%;
		}
	}
	img {
		max-width: 25%;
		margin: 0 auto 10px auto;
	}
	.terminal-card-text, img {
    display: flex;
    flex: 1 1 50%;
    min-width: 200px;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
	}
}
.terminal-author {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}
.terminal-comments-container, .terminal-breakout-container, .terminal-popular-container {
	width: 100%;
}
.terminal-breakout-container {
	position: relative;

	.terminal-arrow-left {
		left: 16px;
	}
	.terminal-arrow-right {
		right: 16px;
	}
	.terminal-arrow {
		background: #333;
		color: #fff;
		font-size: 20px;
		padding: 10px;
		position: absolute;
		z-index: 0;
		top: 25%;
		cursor: pointer;
		user-select: none;
		width: 50px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
	}
}


.terminal-breakout {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	margin: 0 15px 10px 15px;
	position: relative;
	height: 550px;
	overflow-y: hidden;

	.terminal-card-featured {
		position: relative;
	}

	.terminal-card-fade {
		bottom: -5px;
		filter: blur(3px);
		height: 50px;
		position: absolute;
		width: 100%;
		z-index: 2;
	}

	.terminal-card-featured {
		flex: 0 0 50%;
		height: 100%;
		margin: 0 15px 0 0;
		z-index: 0;

		@media (max-width: 600px) {
			flex: 0 0 100%;
		}

		@media (max-height: 400px) {
			max-width: 100vh;
		}
	}
}

.terminal-header, h1.terminal-header, h2.terminal-header, h3.terminal-header, h4.terminal-header, h5.terminal-header, h6.terminal-header {
	padding: 10px 30px;
	margin: 0 0 10px 0;
	width: 100%;
	text-align: center;
	height: fit-content;
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}

	&.terminal-header-no-background {
		background-color: unset;
		margin: 0;
	}
}

body.home, body.search, body.archive {
	.terminal-footer-icons, .terminal-ppc-logo, .terminal-copyright {
		padding: 0 30px;
	}
	.terminal-footer-leaderboard {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		margin-top: 10px;
		background-color: inherit;
		margin: 0 auto;
		.widget_ad_layers_ad_widget {
			margin: 0 auto;
		}
		.dfp-ad {
			padding: 0;
		}
		.terminal-footer-section {
			display: flex;
			flex: 0 0 100%;
			margin: 10px auto;
		}
	}
	.terminal-footer-icons, .terminal-ppc-logo, .terminal-copyright, .terminal-menu-footer ul a {
		margin-top: 10px;
	}
	.terminal-copyright p {
		margin: 0;
	}
}
.terminal-search-form-more-link  {
	display: flex;
	a {
		display: flex;
		align-items: center;
		svg {
			display: flex;
		}
	}
}
form[role="search"] {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 10px 0;
	width: calc(100% - 30px);
	@media screen and (min-width: 500px) {
		width: calc(100% - 60px);
	}
	.search-form-field, .terminal-search-form-more-link, .terminal-search-form-reset-link {
		display: flex;
		width: 100%;
		flex: 0 0 100%;
		height: 30px;
		margin: 0 auto;
		svg.terminal-flipped {
			transform: rotate(180deg);
		}
	}
	label {
		display: none;
	}
	.terminal-search-form-more {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		flex: 0 0 100%;
		margin-top: 10px;

		.terminal-search-form-more-column {
			flex: 1 0 auto;
		}
		.terminal-search-form-reset-link a {
			padding: 5px;
			border-radius: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		input, label {
			margin: 5px auto;
			display: flex;
			width: 100%;
			flex: 0 0 100%;
			max-width: calc(100% - 15px);
		}
		select {
			margin: 5px auto;
			display: flex;
			width: 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	.search-field {
		display: flex;
		flex: 1 0 70%;
		-webkit-appearance: none;
		height: 30px;
		@supports not (-webkit-overflow-scrolling: touch) {
			&::-webkit-search-cancel-button {

				/* Remove default */
				-webkit-appearance: none;
				content: '';
				display: block;
				width: 15px;
				height: 12px;
				background-repeat: no-repeat;
				background-size: 12px;
				background-position: top left;
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFIAAABSAQMAAAD94hHYAAAABlBMVEUAAACXl5cNUA2AAAAAAnRSTlP9B0nlx2sAAABxSURBVHhe7dK9DYYgFIXhYywsGYFRHA3djMRFGIGS4gb0XoRg4s9XfRVvcfIMcJCOnKwVLzCN52pAFxOgxISzySIUj1f7Ow/PTm5O3JB+9ha1L15JOfN/d3fLDz++qpkxW7EpG9KrffbIDo0pe2LX7A7qXBSslhfN8AAAAABJRU5ErkJggg==);
			}
		}
	}
	.search-submit {
		cursor: pointer;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		display: flex;
		flex: 0 1 30%;
		background-color: #f2f2f2;
	}
}

.terminal-input-validate {

	&:invalid+span:after {
		content: '✖';
		padding-left: 5px;
	}

	&:valid+span:after {
		content: '✓';
		padding-left: 5px;
	}

}

a[name="recent"], a[name="popular"],  a[name="featured"] {
	@media screen and (max-width: 500px) {
		margin-top: -50px;
		padding-top: 50px;
	}
	margin-top: -100px;
	padding-top: 100px;
}

.terminal-filter {
	background: #f2f2f2;
	opacity: .9;
	padding: 5px 0;
	position: -webkit-sticky;
	position: sticky;
	top: 30px;
	width: 100%;
	z-index: 1;

	.terminal-filter-inside {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 500px;
		width: 100%;
		@media screen and (max-width: 500px) {
			margin: 0 15px;
		}
	}
}

.terminal-popular-container {
	.terminal-card-title select {
		background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23222222'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;
    background-size: 8px;
    letter-spacing: inherit;
    padding: 10px;
    margin: -10px;
    text-transform: inherit;
    min-width: 200px;
    color: inherit;
	}
}

.terminal-popular-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-top: -10px;
	padding: 5px;
}
.terminal-popular-list .terminal-popular-list-item {
	flex: 1 0 220px;
  box-sizing: border-box;
  background: #f2f2f2;
	color: #222;
	position: relative;
  padding: 10px;
	margin: 5px;
	align-items: flex-end;
	&::before {
		bottom: 0;
		opacity: 0.2;
		position: absolute;
		right: 10px;
    content: attr(data-rank);
    font-size: 4.375rem;
    font-weight: bold;
	}
	.terminal-card-image, .terminal-card-embed {
		margin: -10px -10px 10px -10px;
	}
	.terminal-headline-font {
		width: 100%;
	}
	.terminal-byline {
		margin: 0;
		padding: 5px;
		background-color: inherit !important;
		width: 100% !important;
	}
}
@media (min-width: 410px) {
  .terminal-popular-list .terminal-popular-list-item {
    max-width: calc(50% - 10px);
  }
}

@media (min-width: 830px) {
  .terminal-popular-list .terminal-popular-list-item {
    max-width: calc(25% - 10px);
  }
}


.terminal-twitter {
  background-color: #55acee; }
  .terminal-twitter:hover {
    background-color: rgba(85, 172, 238, 0.8); }

.terminal-facebook {
  background-color: #3b5998; }
  .terminal-facebook:hover {
    background-color: rgba(59, 89, 152, 0.8); }

.terminal-linked {
	background-color: #4875B4; }
	.terminal-linked:hover {
		background-color: rgba(72,117,180, 0.8) }


.terminal-pinterest {
	background-color: rgb(203, 32, 39); }
	.terminal-pinterest:hover {
		background-color: rgba(203, 32, 39, 0.8) }

.mepr-submit, .uncovered p.terminal-adblock-notice {
	background: #fff;
	border-radius: 30px;
	color: #3f3f3f;
	display: block;
	height: 50px;
	line-height: 50px;
	margin: 0 auto 10px auto;
	text-align: center;
	text-transform: uppercase;
	width: 210px;
	&.invert {
		background: #3f3f3f;
		color: #fff;
		&:hover {
			background: #fff;
			color: #3f3f3f;
		}
	}
	&:hover {
		background: #3f3f3f;
		color: #fff;
	}
}

.terminal-button {
	@media (max-width: 869px) {
		flex-basis: 100%;
		margin-bottom: 5px;
	}

	a {
		color: #3f3f3f;
		margin: 5px auto;
		background: #fff;
		cursor: pointer;
		border-radius: 30px;
		display: block;
		height: 25px;
		line-height: 25px;
		width: 210px;
		text-transform: uppercase;
		&:hover {
			background: #3f3f3f;
			color: #fff;
		}
	}
}
