.terminal-footer-icons, .terminal-ppc-logo, .terminal-copyright {
  padding: 30px;
  text-align: center;
}

.terminal-footer-inside {
  width: 100%;
}
.terminal-menu-footer ul {
	width: calc(100% - 60px);
  margin: 0 auto;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  justify-content: space-between;
	@media (max-width: 869px) {
		margin: 0 30px;
  }
  li {
    display: flex;
    padding: 30px;
    flex: 1 1 25%;
    justify-content: center;
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.infinite-scroll {
	.terminal-pagination {
		display: none;
	}
}
.terminal-pagination a {
  padding: 15px;
  display: flex;
	justify-content: center;
  flex: 1 1 50%;
}