// Disable ugly blue highlight on inputs.
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

// No images outside their containers. This isn't the wild west.
img {
	max-width: 100%;
	height: auto;
}

// h1-h6 everywhere.
h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 1.12em;
}

h5 {
	font-size: 0.83em;
}

h6 {
	font-size: 0.75em;
}

b {
	font-weight: 700;
}

// Don't inherit font family for font
input, select, textarea, button {
	font-family:inherit;
}

.dfp-ad {
	margin: auto;
}
