input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

strong, b {
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p, a {
	hyphens: none;
  text-overflow: ellipsis;
}

twitterwidget {
	margin: auto;
}

.circle, .circle img {
	border-radius: 50%!important;
}

.essb-subscribe-form-content ul {
	list-style: square !important;
}
