/* header ********************************************/

#header-inside {
	margin: 0 auto;
	max-width: 1200px;
}

#header-leaderboard {
	text-align: center;
	padding: 5px 0 15px;
}

#header-leaderboard div {
	margin: 0 auto;
}

#logo_bar {
	text-align: center;
	position: relative;
}

#logo_bar #logo {
	max-width: 50%;
	margin: 0 auto;

	a {
		display: block;
	}
}

#logo-image {
	user-select: none;
}
