	.terminal-signup {
		text-align: right;
    padding: 5px;
    border-radius: 0px 0px 3px 3px;
		right: 0;
		position: absolute;
    display: inline-block;
		a {
			color: #fff;
		}
		@media (max-width: 800px) {
			margin-top: -30px;
		}
	}
	
.terminal-header-container {
	.terminal-logos {
		max-width: 1200px;
		width: calc(100% - 60px);
		margin: 0 auto;
		@media (max-width: 869px) {
			margin: 0 30px;
		}
		width: calc(100% - 60px);
    align-items: center;
		display: flex;
		flex-flow: row nowrap;
    padding-top: 5px;
		justify-content: space-around;

		.terminal-logo {
			flex-basis: 50%;
		}
	}

	.terminal-cta {
    text-align: center;
		flex-basis: 50%;
		flex-grow: 1;
		flex-wrap: wrap;
		padding: 15px;
		justify-content: flex-end;
		display: none;
		.terminal-cta-image {
			padding: 10px;
			flex-shrink: 1;
		}
		.terminal-cta-tagline p {
			margin: 0;
		}
		.terminal-cta-tagline, .terminal-cta-link {
			text-align: right;
			display: flex;
			align-items: center;
			vertical-align: middle;
			justify-content: center;
		}
	}
}

.terminal-cta-widget {
	display: flex;
	background-color: #3f3f3f;
	text-align: center;
	color: #fff;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	padding: 15px;

	div.terminal-button {
		@media (max-width: 869px) {
			flex-basis: 100%;
		}

		a {
			color: #3f3f3f;
			margin: 0 auto;
			background: #fff;
			border-radius: 30px;
			display: block;
			height: 45px;
			line-height: 45px;
			width: 210px;
			text-transform: uppercase;
		}
	}

	p {
		margin: 15px;
	}
}
