/* header ********************************************/

#header-inside {
	margin: 0 auto;
	max-width: 1200px;
}

#header-leaderboard {
	text-align: center;
	padding: 5px 0 15px;
}

#header-leaderboard div {
	margin: 0 auto;
}

#logo_bar {
	text-align: center;
	position: relative;
	padding: 0 0 10px;
}

#logo_bar #logo {
	max-width: 455px;
	margin: 0 auto;
}

#logo-image {
	max-width: 100%;
	height: auto;
	user-select: none;
}
