#stories {
}

#stories-header {
	border-bottom: 1px solid #CCC;
	display: flex; 
	justify-content: space-between;
	margin-top: 15px;
	padding: 2px 0 2px;
  width: 100%;

  .active-filter {
    text-decoration: none;
  }
}

#stories-header-filters {
	font-size: 12px;
	color: #666;
	padding-top: 6px;
}

#stories-header-filters a {
	padding-left: 6px;
	color: #CCC;
}

#stories-header-filters a:hover {
	color: #333;
}

#stories-header-filters a.filter-select {
	color: #666;
}

