.terminal-small-logo img {
  height: 25px;
  width: 25px;
}

 .wp-post-image {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.terminal-image {
	width: 100%;
	height: auto;
}