// Infinite loader
.infinite-loader {
	color: #000;
	height: 28px;
	flex: 1 1 710px;
	padding: 15p;
	margin: 15px;
	display: flex;
	text-indent: -9999px;
}
#infinite-handle span {
	background: #333;
	border-radius: 1px;
	color: #eee;
	cursor: pointer;
	font-size: 13px;
	padding: 6px 16px;
}

body.infinite-scroll {
	.terminal-footer {
		display: none;
	}
}
.infinite-wrap {
	display: block;
	width: 100%;
}
body.infinity-end {
	#footer {
		display: block !important;
	}
}
// Easy Social Share
.terminal-before-article-section > .textwidget > .essb-shortcode { 
	margin: 30px 30px 0 30px;
}

.terminal-after-article-section > .textwidget > .essb-shortcode {
	margin: 30px;
}

.terminal-before-article-section > .textwidget > .essb-shortcode ,
.after-article-section > .textwidget > .essb-shortcode {
	.essb_links.essb_width_flex ul {
		justify-content: center;
		flex-wrap: wrap;
		li {
			flex-basis: 20%;
			flex-grow: 1;
			flex-shrink: 1;
			@media (max-width: 1000px) {
				flex-basis: 25%;
			}
			@media (max-width: 800px) {
				flex-basis: 33%;
			}
			@media (max-width: 420px) {
				flex-basis: 50%;
			}
			text-align: center;

			a {
				width: calc(100% - 15px);
			}
			&.essb_link_sharebtn a {
				color: #999 !important;
				border: 2px solid #999;
				background-color: #fff !important;
				&:hover {
					color: #fff !important;
					background-color: #999 !important;
				}
			}
			&.essb_totalcount_item {
				color: #999 !important;
			}
			&.essb_link_sharebtn span.essb_network_name.essb_noname::before {
				content: 'Share';
			}
		}
	}
	.essb_width_columns_2 li {
		width: 48%;
		padding: 1% !important;
	}
}

.essb_links {
	margin: 0;
}

// Gravity form
div.gform_wrapper {
	margin: 0 30px 20px 30px;
}

// Ad Layers
.widget_ad_layers_ad_widget {
	padding: 0;
	text-align: center;
	margin: 0 15px 10px 15px;
	@media (max-width: 450px) {
		margin: 0 0 10px 0;
	}
	background-color: initial;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.essb-shortcode {
	margin: 0 auto !important;
}
[id^=ad_layers] {
	background-color: unset !important;
	border: none;
	box-shadow: none;
}
body.uncovered{
	.terminal-card.covered-target {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		min-height: 250px;
	}
	&.single-post article .terminal-card-text > p:not(.terminal-adblock-notice):nth-of-type(n+2){
    display:none !important;
	}

	.terminal-adblock-notice {
		display: block;
	}

	&.single-post article .terminal-card-text > :not(p) {
    display:none !important;
	}

	.terminal-comments-container {
		display: none;
	}
}

.terminal-adblock-notice {
	display: none;
}

.dfp-ad {
	text-align: center;
	overflow: hidden;
	padding: 15px;
	justify-content: center;
	height: 100%;
	display: flex;
	align-items: center;
	iframe {
		background-color: #fff;
	}
}
.essb_bottombar_inner {
		max-width: calc( #{$max_container_width} - 30px ) !important;
		width: calc( 100% - 30px) !important;
}

.essbfc-container, .essb-subscribe-form-inline {
	margin-bottom: 0 !important;
}

.spinner {
	z-index: 0 !important;
}

.essbis_site {
	.essb-mobile-sharebottom, .essb_bottombar, .essb_topbar {
		z-index: 1;
	}
}
.essbis-hover-overlay {
	z-index: 0 !important;
}

div#mepr-account-nav {
	display: flex;
	justify-content: space-around;

	span.mepr-nav-item {
		display: flex;
	}
}
.mepr-account-actions {
	display: flex;
	flex-direction: column;
	font-size: 12px;
	a {
		display: flex;
	}
}

.mp-password-strength-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	span {
		display: flex;
		flex: auto;
		justify-content: center;
		align-items: center;
	}
}
.essb_counter_modern_top_mini {
	margin: 30px auto 15px auto;
}

.mp_wrapper.mp_login_form {
	margin: 15px auto;
}

.terminal-card-featured .wpcnt, .terminal-post-widget .wpcnt {
	display: none;
}

.amp-wp-article-content .wpcnt {
	display: none;
}

.essb_links .essb_force_hide_name .essb_icon {
    margin: 0 auto !important;
		display: block;
}

.essb_links.essb_counter_modern_top_mini .essb_counter {
	margin-top: -21px !important;
}