#stories-header {
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	padding: 2px 0;
	user-select: none;
	width: 100%;

	.active-filter {
		text-decoration: none;
	}
}

#stories-header-filters {
	color: #666;
	// @todo enable after post types
	display: none;
	font-size: 12px;
	padding-top: 6px;
}

#stories-header-filters a {
	color: #ccc;
	padding-left: 6px;
}

#stories-header-filters a:hover {
	color: #333;
}

#stories-header-filters a.filter-select {
	color: #666;
}

.post {
	border-bottom: 1px solid #ccc;
	margin-top: 10px;
	padding-bottom: 5px;
}

.post-row {
	display: flex;
	flex-direction: row;

	@media ( max-width: 500px ) {
		flex-direction: column;
	}
}

.icon-container {
	bottom: -2px;
	display: inline-block;
	height: 14px;
	left: 2px;
	position: relative;
	width: 14px;
}

.story-border {
	border-bottom: 1px solid #ccc;
	clear: both;
	margin-top: 10px;
}

.headline {
	font-size: 30px;
	font-weight: 700;

	a {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
}

.community-avatar {
	padding: 0 0 10px 10px;
}

.link-image {
	padding: 0 0 10px 10px;
}

.dateline {
	color: #666;
	font-size: 13px;
	margin: 5px 0 3px;

	abbr {
		text-decoration: none;
	}
}

.dateline a:hover {
	color: #000;
	text-decoration: underline;
}

.author {
	color: #000;
	display: inline-block;
}

.time {
	border-bottom: none !important;
	color: #000;
	cursor: text !important;
	display: inline-block;
}

.category {
	color: #000;
	display: inline-block;
}

.topic {
	color: #000;
	display: inline-block;
}

.image {
	padding: 8px 0 5px;
	text-align: center;
	flex: 1;

	img {
		height: auto;
		max-width: 100%;
	}
}

.story-text {
	flex: 1;
	font-size: 20px;
	padding: 5px;
}

.story-text li {
	list-style-type: square;
	margin: 0 0 1em 1.5em;
}

.story-text img {
	padding: 10px 0;
	margin-left: 0 !important;
}

.story-text a {
	text-decoration: none;
	color: #009;
}

.story-text a:hover {
	text-decoration: underline;
}

.more {
	display: flex;
	flex-direction: column;
	flex: 0.3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: 700;
	justify-content: space-evenly;
	margin: 0 auto 2px;
	max-height: 90px;
	min-height: 40px;
	padding: 8px 3px 0 0;
	text-align: right;

	div {
		flex: 1;
	}

	@media (max-width: 500px) {
		flex-direction: row;
		max-height: initial;
		min-height: initial;
		text-align: center;
		width: 100%;
	}

}

.more a {
	margin: 0 5px;
	text-decoration: none;
}

.share-number {
	color: #ccc;
}

.more-facebook a {
	color: #039;
}

.more-twitter a {
	color: #0cf;
}

.more-comments a {
	color: #333;
}

.more-facebook {
	display: inline-block;
	color: #039;
}

.more-twitter {
	display: inline-block;
}

.more-comments {
	display: inline-block;
}

.more-text {
	display: inline-block;

	a {
		margin: 0;
	}
}

#stories .community {
	border-bottom: 0 none;
	border-left: 8px solid #9dc1fd;
	padding: 0 0 0 10px;
}

#stories .community .more {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding-bottom: 7px;
}

#stories .link {
	border-bottom: 0 none;
	border-left: 8px solid #666;
	padding: 0 0 0 10px;
}
