#top-stories-header {
	display: block;
	margin-top: 15px;
	padding: 2px 0;
	user-select: none;
	width: 100%;
}

.post {
	margin: 10px 0;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 1px 1px hsla( 0, 3%, 67%, 0.1);
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 3px;

	.post-flex-box {
		display: flex;
		align-items: center;
		@media (max-width: 400px) {
			flex-direction: column;
		}
	}

	@media (max-width: 400px) {
		.post-row {
			flex: 1 1 auto !important;
			min-width: 100%;
		}
	}

	.post-row {
		flex: 1 1 300px;
		
		.story-text {
			padding: 0 10px;
		}

		.story-text p {
			margin-top: 5px;
			margin-bottom: 0;
		}
	}

	.icon-container {
		bottom: -2px;
		display: inline-block;
		height: 14px;
		left: 2px;
		position: relative;
		width: 14px;
	}

	.headline {
		margin: 0;
		padding: 10px;

		a {
			text-decoration: none;
			user-select: none;
			hyphens: unset;
		}

		a:hover {
			text-decoration: underline;
		}
	}


	.image {
		flex-basis: 300px;
		flex-shrink: 1;
		flex-grow: 1;
		margin-right: 10px;
		text-align: center;

		a {
			display: grid;
			height: 100%;
			width: 100%;
		}

		@media (max-width: 400px) {
			flex-basis: 100%;
			text-align: center;
			
			img {
				max-height: 300px !important;
				max-width: 100%;
				height: auto;
				width: auto;
			}
		}
		img {
			max-height: 15rem;
			width: auto;
			margin: 0 auto;
		}
	}

}

