/* nav bar ********************************************/
#nav-bar {
	box-sizing: border-box;

	svg {
		width: 1rem !important;
		height: 1rem !important;
		margin-right: 0.8rem;
		position: relative !important;
		margin-top: .2rem;
		transition: transform .5s;
		&.open {
			transform: rotate(180deg);
		}
	}

	#nav-bar-inside {
		max-width: 1100px;
		margin: 0 auto;
		padding: 10px 0 0 0;
	}
	a {
		display: block;
		margin: 0;
		padding: 0;
		text-align: center;
		text-decoration: none;
		width: 100%;
	}

	#menu-header-nav {
		flex-direction: row;
		padding: 0 0 10px 0;

		li {
			display: block;
		}
	}
	.menu-more-meta-container {
		background-color: #f4f4f4;
	}
	#menu-header-inside {
		flex-flow: column wrap;
		max-height: 400px;
	}
	#menu-header-inside, #menu-header-inside-meta {
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;
		height: 100%;
		padding: 0;
		li {
			display: flex;
			padding: 10px 2px;
			flex-basis: 25%;
			box-sizing: border-box;
		}
	}
	#menu-header-inside {
		padding: 0 10px 10px 10px;
	}

	#menu-header-nav {
		li {
			height: 100%;
			width: 100%;
		}
	}

	#menu-header-nav, #menu-header-inside, #menu-header-inside-meta {
		display: flex;
		margin: 0;
		justify-content: space-around;

		li {

			&.hidden {
				display: none !important;
			}

			a {
				display: flex;
				width: 100%;
				justify-content: center;
			}

			a:hover {
				filter: brightness(40%);
			}
		}
	}
	#nav-bar-inside-more {
		position: relative;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;

		&.hover-reveal {
			display: block !important;
		}
		&.hidden {
			display: none;
		}
	}
}
