/* nav bar ********************************************/
#nav-bar {
	background-color: #333;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	max-width: 1250px;
	margin: 0 auto;

	a {
		background-color: #333;
		color: #fff;
		display: block;
		font-size: 14px;
		margin: 0;
		padding: 0;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		width: 100%;
	}

	#menu-header {
		display: flex;
		flex-direction: column;

		@media (min-width: 350px) {
			flex-direction: row;
			justify-content: space-around;

			li > ul {
				display: none;
				position: absolute;
			}
		}

		li {
			display: block;

			a {
				display: flex;
				padding: 5px;
				width: 100%;
			}

			&.menu-item-has-children > a:after {
				content: " +";
			}

			ul.sub-menu {
				display: none;

				li {
					display: flex;
				}
			}

			&:hover {

				ul.sub-menu {
					display: block;
				}
			}
		}
	}
}
