/* nav bar ********************************************/
#nav-bar {
	box-sizing: border-box;

	#nav-bar-inside {
		max-width: 1100px;
		margin: 0 auto;
		padding: 10px 0;
	}
	a {
		display: block;
		margin: 0;
		padding: 0;
		text-align: center;
		text-decoration: none;
		width: 100%;
	}

	#menu-header-nav {
		flex-direction: row;
		padding: 0;

		li {
			display: block;
		}
	}

	#menu-header-inside {
		flex-direction: column;
		padding: 10px;

		li {
			display: flex;
			flex: 1 0 50%;
		}
	}

	#menu-header-nav, #menu-header-inside {
		display: flex;
		margin: 0;
		justify-content: space-around;

		li {
			height: 100%;
			width: 100%;

			&.hidden {
				display: none !important;
			}

			a {
				display: flex;
				width: 100%;
				justify-content: center;
			}

			a:hover {
				filter: brightness(40%);
			}
		}
	}
	#nav-bar-inside-more {
		background-color: #f4f4f4;
		border-radius: 3px!important;
		border: 1px solid rgba(0,0,0,.2)!important;
		display: block;
		height: auto;
		max-width: 1100px;
		overflow-y: inherit;
		position: absolute;
		width: 50vw;
		left: 40%; 
		right: 0; 
		margin-left: auto; 
		margin-right: auto; 

		@media (max-width: 870px) {
			left: 5%;
			width: 90vw;
		}
		&.hover-reveal {
			display: block !important;
		}
		&.hidden {
			display: none;
		}
	}
}
