.terminal-nav-bar {
	box-sizing: border-box;
	h2 {
		padding: 0 15px;
		color: #fff;
	}
	svg {
		fill: #fff;
		transform: rotate(180deg);
		
		&.terminal-flipped {
			transform: rotate(0deg);
		}
	}

	.terminal-nav-bar-inside {
		max-width: 1100px;
		margin: 0 auto;
		padding: 5px 0 0 0;
	}
	#terminal-nav-bar-header-more-meta {
    flex-wrap: wrap;
    margin: auto;
    padding: 5px;
    flex: 1 1 100%;
    display: flex;
    justify-content: left;
    a {
      color: #fff;
    }
		li {
			flex: 0 1 20%;
      list-style: none;
      margin: 10px;
		}
	}
	#terminal-nav-bar-header-more {
    flex-wrap: wrap;
		margin: auto;
    padding: 5px;
    flex: 1 1 100%;
    display: flex;
    justify-content: left;
    a {
      color: #fff;
    }
		li {
			flex: 0 1 20%;
      list-style: none;
      margin: 10px;
		}
	}
	#terminal-nav-bar-header {
    flex-wrap: nowrap;
    margin: 0;
    padding: 5px;
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    a {
      color: #fff;
    }
		li {
      list-style: none;
      margin-right: 10px;
		}
	}
	.terminal-menu-more-meta-container {
		background-color: #f4f4f4;
	}
	.terminal-menu-header-inside {
		flex-flow: column wrap;
		max-height: 420px;
	}
	.terminal-menu-header-inside, .terminal-menu-header-inside-meta {
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;
		height: 100%;
		padding: 0;
		li {
			display: flex;
			flex-basis: 25%;
			box-sizing: border-box;

			a {
				padding: 5px 2px;
				height: 100%;
				width: 100%;
				box-sizing: border-box;
				hyphens: none;
			}
		}
	}
	.terminal-menu-header-inside {
		padding: 0 10px 10px 10px;
	}

	.terminal-menu-header-nav {
		li {
			height: 100%;
			width: 100%;
		}
	}

	.terminal-menu-header-nav, .terminal-menu-header-inside, .terminal-menu-header-inside-meta {
		display: flex;
		margin: 0;
		justify-content: space-between;

		li {

			&.hidden {
				display: none !important;
			}

			a {
				display: flex;
				width: 100%;
				justify-content: center;
			}

			a:hover {
				filter: brightness(40%);
			}
		}
	}
	.terminal-nav-bar-inside-more {
		position: relative;
		max-width: calc(#{$max_content_width} - 60px);
    width: calc(100% - 60px);
    margin: 20px auto 0 auto;
	}
	.terminal-nav-bar-header-container {
		max-width: calc(#{$max_content_width} - 60px);
    width: calc(100% - 60px);
    margin: 0 auto;
	}
}