.textwidget {
	padding: 15px;
}

.terminal-post-widget {
	width: 100%;
	.terminal-image {
		img {
			width: 100%;
			height: auto;
		}
	}
}

.terminal-top-container {
	display: flex;
	height: 100%;
	margin: 0 auto;
	flex-wrap: wrap;
}
.terminal-hero-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	flex-wrap: wrap;
	flex: 1 1 330px;
}
.terminal-primary-sidebar {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	flex-wrap: wrap;
	height: auto;
	flex: 0 1 385px;
	min-width: 350px;
}
body.single {
	.terminal-primary-sidebar {
		height: 100%;
	}
}