#single {
	box-sizing: border-box;
	border-radius: 3px;

	@media (max-width: 869px) {
		margin: 0;
	}

	h1 {
		hyphens: none;
		margin: 0;
		padding: 0 40px 20px 40px;

		@media (max-width: 869px) {
			padding: 0 30px 20px 30px;
		}
	}

	#breadcrumbs {
		padding: 30px 40px 20px 40px;

		@media (max-width: 869px) {
			padding: 30px 30px 20px 30px;
		}

		margin: 0;
	}

	.story-text {
		padding: 0 40px;

		@media (max-width: 869px) {
			padding: 0 30px;
		}

		p, h1, h2, h3, h4, h5, h6 {
			margin: 0 0 20px 0;
		}

		iframe {
			width: 100%;
			height: -webkit-fill-available;
		}
	}

	.image {
		display: flex;
		display: grid;
	}

	.image img {
		width: 100%;
		box-sizing: border-box;
	}
}

