#single {
	margin: 10px 0;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 1px 1px hsla( 0, 3%, 67%, 0.1);
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 3px;
	margin: 0 10px;

	@media (max-width: 869px) {
		margin: 0;
	}

	h1 {
		hyphens: none;
		margin: 0;
		padding: 10px;
	}

	.story-text {
		padding: 0 10px;

		iframe {
			width: 100%;
			height: -webkit-fill-available;
		}
	}

	.image {
		display: grid;
	}

	.image img {
		width: 100%;
		box-sizing: border-box;
	}

}

