#single {

	.story-text {
		padding-top: 6px;
		line-height: 120%;

		iframe {
			width: 100%;
			height: -webkit-fill-available;
		}
	}

	.image img {
		height: auto;
		max-width: 100%;
		padding: 8px 5px;
		box-sizing: border-box;
	}

}

#single-topbar {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	padding: 0 5px;
	min-height: 30px;

	a:hover {
		text-decoration: underline;
	}

	.single-avatar {
		display: flex;
		flex: 0 0 15%;
	}
}


#single-author {
	padding-left: 25px;
}

#single-category {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	max-width: 200px;
}

#single-author-and-date {
	display: flex;
	justify-content: space-between;
	flex: 0 0 85%;
	align-items: center;
}

#single-numberofcomments {
	padding-left: 25px;

	@media (max-width: 870px) {
		display: none;
	}
}
