.terminal-50-percent-width {
	width: 50%;
}

.terminal-60-percent-width {
	width: 60%;
}

.terminal-70-percent-width {
	width: 70%;
}

.terminal-80-percent-width {
	width: 80%;
}

.terminal-90-percent-width {
	width: 90%;
}

.terminal-100-percent-width {
	width: 100%;
}

@media (max-width: 869px) {
  .terminal-50-percent-width-mobile {
    width: 50%;
  }
  
  .terminal-60-percent-width-mobile {
    width: 60%;
  }
  
  .terminal-70-percent-width-mobile {
    width: 70%;
  }
  
  .terminal-80-percent-width-mobile {
    width: 80%;
  }
  
  .terminal-90-percent-width-mobile {
    width: 90%;
  }
  
  .terminal-100-percent-width-mobile {
    width: 100%;
  }
}