.terminal-headline-featured-font {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.terminal-headline-font {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}

.terminal-body-font {
  font-size: 20px;

  p, ul, ol {
    line-height: 1.4;
  }
}

.terminal-cta-tagline-font, .terminal-cta-button-font {
  font-size: 14px;
}

.terminal-index-meta-font,
.terminal-header-font,
.terminal-share-button-font,
.terminal-sidebar-body-font,
.terminal-sidebar-header-font,
.terminal-single-meta-font,
.terminal-utility-font,
.terminal-nav-font {
  font-size: 16px;
}

.terminal-sidebar-body-font {
  line-height: 1.4;
}

.terminal-sidebar-header-font {
	font-size: initial;
	text-transform: initial;
}

.terminal-featured-header-font {
	font-size: initial;
	text-transform: initial;
}