body {
  .terminal-no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .terminal-hidden {
    display: none !important;
  }

  .terminal-hidden-no-js {
    display: none !important;
  }

  .terminal-flipped {
    transform: rotate(180deg);
  }

  .terminal-show {
    display: flex! important;
  }

  .terminal-desktop-show {
    @media (min-width: 420px) {
      display: flex! important;
    }
  }
  
  .terminal-mobile-show {
    @media (max-width: 420px) {
      display: flex! important;
    }
  }
  .terminal-desktop-hide {
    @media (min-width: 420px) {
      display: none !important;
    }
  }

  .terminal-mobile-hide {
    @media (max-width: 420px) {
      display: none !important;
    }
  }

  .terminal-flex-basis-25 {
    flex: 0 0 25px !important;
  }

  .terminal-flex-basis-30 {
    flex: 0 0 30px !important;
  }

  .terminal-flex-basis-40 {
    flex: 0 0 40px !important;
  }

  .terminal-flex-basis-50 {
    flex: 0 0 50px !important;
  }

  .terminal-flex-basis-60 {
    flex: 0 0 60px !important;
  }

  .terminal-flex-basis-75 {
    flex: 0 0 75px !important;
  }

  .terminal-flex-basis-100 {
    flex: 0 0 100px !important;
  }

  .terminal-vertical-margin {
    margin: 30px 0;
  }
}

.terminal-limit-max-content-width {
  max-width: $max_content_width;
}
.terminal-limit-max-container-width {
  max-width: $max_container_width;
}

.terminal-limit-max-container-width-add-margin {
  max-width: calc(#{$max_container_width} - 60px);
  width: calc(100% - 60px);
  margin: auto;
}

.terminal-limit-max-content-width-add-margin {
  max-width: calc(#{$max_content_width} - 60px);
  width: calc(100% - 60px);
  margin: auto;
}

.terminal-scrolled {
  .terminal-scroll-show {
    display: flex !important;
  }

  .terminal-scroll-hide {
    display: none !important;
  }
}

.terminal-scroll-show {
  display: none !important;
}