.terminal-ad {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
}

.entry__content {
    .terminal-inline-ad {
        .terminal-ad-header {
            margin: 8px;
        }

        padding: 5px;
        text-align: center;
        font-size: 12px;
    
        amp-ad, .broadstreet-zone-container {
            margin: 8px auto;
        }
    }
}

.terminal-inline-ad a {
    opacity: 1;
}
