.terminal-featured-meta {
    .terminal-credit {
        font-size: 11px;

        &::before {
            display: inline;
            content: 'Photo Credit: ';
        }
    }
}

.terminal-featured-caption {
    font-size: 12px;
    padding: 0 0 15px;
    width: 100%;

    p {
        margin: 1em 0;
        text-align: center;
    }
}