.one-time-login-inputs input[type="submit"] {
	align-items: center;
	display: flex;
	font-weight: 700;
	justify-content: center;
	padding: 15px;
}

.mp_login_form .one-time-login-form {
	display: block;
	margin-bottom: 15px;

	input[type="submit"] {
		margin-top: 15px;
	}
}

.mepr-account-subscr-id,
.mepr-account-rebill {
	display: none;
}
