.span-reading-time, .terminal-analytics {
    font-style: italic;
}

.terminal-analytics {
    &::before {
        content: ' • ';
    }
}

.entry__summary {
    .span-reading-time, .terminal-analytics {
        font-size: 70%;
        margin-top: 15px;
        display: inline-block;
    }
}
