.terminal-sponsors-container {
    overflow: hidden;
    width: 100%;

    .terminal-sponsor {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .terminal-sponsor-name {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            flex: 100%;
            justify-content: center;
        }

        .terminal-sponsor-image {
            width: 50%;

            @media screen and (max-width: 400px) {
                width: 100%;
            }
        }
    }

    h2 {
        flex: 0 0 100%;
        font-weight: 700;
        line-height: 1.25;
        color: #000;
    }
}

.terminal-sponsor {
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    padding: 1em;
    text-align: center;

    &:hover img {
        opacity: 1;
        filter: grayscale(0%);
    }

    &-tier-one {
        flex: 0 0 50%;

        @media screen and (max-width: 768px) {
            flex: 0 0 100%;
        }
    }

    &-tier-two {
        flex: 0 0 50%;

        @media screen and (max-width: 768px) {
            flex: 0 0 100%;
        }
    }

    &-tier-three {
        flex: 0 0 50%;

        @media screen and (max-width: 768px) {
            flex: 0 0 100%;
        }
    }

    &-tier-four {
        flex: 0 0 50%;

        @media screen and (max-width: 768px) {
            flex: 0 0 100%;
        }
    }

    &-tier-five {
        flex: 0 0 50%;

        @media screen and (max-width: 768px) {
            flex: 0 0 100%;
        }
    }
}