.terminal-sponsors-container {
    overflow: hidden;

    .terminal-sponsor {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    h2 {
        flex: 0 0 100%;
        font-weight: 700;
        line-height: 1.25;
        color: #000;
    }
}

.terminal-sponsor {
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    padding: 1em;
    text-align: center;

    &:hover img {
        opacity: 1;
        filter: grayscale(0%);
    }

    &-tier-one {
        flex: 0 0 50%;

        @media screen and (max-width: 768px) {
            flex: 0 0 100%;
        }
    }

    &-tier-two {
        flex: 0 0 33%;

        @media screen and (max-width: 768px) {
            flex: 0 0 50%;
        }
    }

    &-tier-three {
        flex: 0 0 25%;

        @media screen and (max-width: 768px) {
            flex: 0 0 50%;
        }
    }

    &-tier-four {
        flex: 0 0 20%;
        font-size: .8rem;

        @media screen and (max-width: 768px) {
            flex: 0 0 25%;
        }
    }

    &-tier-five {
        flex-basis: 14.1%;
        font-size: .8rem;
        width: 14.1%;

        img {
            max-height: 50px;
        }

        @media screen and (max-width: 768px) {
            flex: 0 0 25%;
        }
    }
}