.terminal-sponsors-container {
  flex: 1 0 auto;

  .terminal-header {

    h2 {
      font-size: 48px;
    }
  }

  .terminal-sponsor-name,
  .terminal-sponsor-image {
    flex-basis: 100%;
  }

  .terminal-sponsors {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em 1em;
    text-align: center;

    .terminal-sponsor {
      align-items: baseline;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      min-width: 100px;
      padding: 1em;

      img {
        display: block;
        margin: 0 auto 2px auto;
        max-height: 150px;
        max-width: 100%;
        width: auto;
      }

      &-tier-one {
        flex-basis: 100%;
      }

      &-tier-two {
        flex-basis: 50%;

        @media only screen and (max-width: 600px) {
          flex-basis: 100%;
        }
      }

      &-tier-three {
        flex-basis: 33%;

        @media only screen and (max-width: 600px) {
          flex-basis: 50%;
        }
      }

      &-tier-four {
        flex-basis: 33%;
        font-size: .8rem;

        @media only screen and (max-width: 600px) {
          flex-basis: 50%;
        }
      }

      &-tier-five {
        flex-basis: 25%;
        font-size: .8rem;

        @media only screen and (max-width: 600px) {
          flex-basis: 33%;
        }
      }
    }
  }
}
