.ws-theme-cart-list {
    .coupon {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .update-cart {
            margin-bottom: 10px;
        }
    }
}

.wp-travel-average-review {
    display: none;
}